.authenticate-block {
    width: 40%;
    max-width: 400px;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    right: 10%;
    .input-container {
        display: grid
    }
    .footer {
        margin-top: 10px;
        height: 40px;
        .link {
            vertical-align: middle;
        }
    }
}